*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
button{
    padding:10px;
    font-weight: bold;
    letter-spacing: 1.5px;
}